<p><%= f("devise.mailer.reset_password_instructions.greeting") %> <%= @resource.email %>!</p>

<p><%= f("devise.mailer.reset_password_instructions.instruction") %></p>

<p><%= link_to f("devise.mailer.reset_password_instructions.action"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= f("devise.mailer.reset_password_instructions.instruction_2") %></p>
<p><%= f("devise.mailer.reset_password_instructions.instruction_3") %></p>
