<p><%= f("devise.mailer.unlock_instructions.greeting") %><%= @resource.email %>!</p>

<p><%= f("devise.mailer.unlock_instructions.message") %></p>

<p><%= f("devise.mailer.unlock_instructions.instruction") %>:</p>

<p><%= link_to f("devise.mailer.unlock_instructions.action"), unlock_url(@resource, unlock_token: @token) %></p>
